body {
	background: #000303;
	color: #ffffff;
	position: centre; 
	align: center;
  }
  
  .movie-app  .row {
   overflow-x:auto;
   display: flex;
   flex-wrap: wrap ;
   text-align: center;
   }
  
  
  .image-container{
	position: centre;
	transition: transform 0.2s;
	text-align: center;
	
  }
  .image-container:hover{
	cursor: pointer ;
	transform: scale(1.1);
	text-align: center;
  }   
  .image-container:hover .overlay{
	opacity: 1;
  }
  
  .overlay {
	position: absolute;
	bottom: 0;
	padding: 12px ;
	text-align: center;
	opacity: 0;
	font-size: 20px ;
	transition: 0.5s ease;
	width:100%;
	text-align: center;
  }